<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>about page</title>

</head>
<body>
	<section>
	 <div class="container3" style="margin-left: 360px;
	 margin-top:39.9px
	 ">
			<div class="M_card1 centered-card ">
             <div class="content1">
                <h2 style="font-size:70px; ">About Us</h2>
                 <p>Smart Contact Manager is a powerful tool designed to help you efficiently manage your contacts and grow your business. Here's what it can do for you:</p>
            <ul>
                <li>Organize your contacts in a centralized location</li>
                <li>Track interactions, meetings, and discussions with clients</li>
                <li>Set reminders for important follow-ups and tasks</li>
                <li>Customize contact profiles with relevant information</li>
                <li>Generate reports and insights to analyze your contact activity</li>
            </ul>
            <p>With Smart Contact Manager, you can streamline your contact management process and focus on building stronger relationships with your clients.</p>
                 <p style="font-size: 30px">Kindly Follow Us on Different Social Medias</p>
                   
            </div>
        </div>
    </div>
	</section>
</body>
</html>
