<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>

<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="font-weight-bold">Smart Contact Manager</h1>
            <p>Start collecting your contacts in a smarter way. We provide an efficient and smarter way of handling your contacts.</p>
            <button class="btn bg-primary btn-lg text-white">Get Started</button>
        </div>
       
    </section>
</html>
